body {
    max-width: 100%;
    overflow-x: hidden;
}

.style-plant-title {
    font-size: 45px;
    color: #000;
    font-weight: 600;
}

.style-plant-tab .nav-link {
    font-weight: 600;
    font-size: 18px;
    color: #D9D9D9;
    background: #FFF;
    border-radius: 10px;
    padding: 8px 16px;
}

.style-plant-tab .nav-link.active {
    color: #EE6D22;
    background: radial-gradient(60.19% 64.45% at 50% 128.33%, #EE6D22 0%, rgba(238, 109, 34, 0.00) 100%);
}

.style-plant-tab .style-tab-content-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.style-plant-tab .style-tab-content-overlay {
    z-index: 10;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, #FFF 0.15%, rgba(255, 255, 255, 0.00) 100%) transparent 50% / cover no-repeat;
}

.style-plant-tab .style-plant-tab-title {
    font-weight: 700;
    font-size: 28px;
    color: #000;
}

.style-plant-tab .style-plant-tab-description {
    font-weight: 400;
    font-size: 18px;
    color: #000;
}

.style-plant-tab .style-plant-tab-icon {
    width: 50px;
    height: 50px;
}

.style-plant-tab .style-plant-tab-text {
    font-weight: 500;
    font-size: 18px;
    color: #EE6D22;
}


/* Facility =========== */
.style-carousel-facility {
    position: relative;
    width: 100%;
}

.style-facility-desc {
    position: absolute;
    left: 0;
    right: 0;
    opacity: 0;
    z-index: 10;
    transition: all 0.3s linear;
}

.style-carousel-facility .style-item {
    height: 500px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.style-carousel-facility .style-item .style-carousel-item {
    width: 35%;
    height: 300px;
    /* left: 0;
    right: 0;
    margin: auto; */
    position: absolute;
    z-index: 1;
    transition: all 0.3s linear;
}

.style-carousel-facility .style-item .style-carousel-item .style-carousel-overlay {
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.65);
    transition: all 0.3s linear;
}

.style-carousel-facility .style-item .style-carousel-item.active .style-carousel-overlay {
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0);
    transition: all 0.3s linear;
}

.style-carousel-facility .style-item .style-carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.style-carousel-facility .style-nav {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 11;
}

.style-carousel-facility .style-nav button {
    background-color: white;
    width: 70px;
    height: 70px;
    border-radius: 35px;
    border: 0;
    font-size: 35px;
    color: black;
    transition: all 0.3s linear;
    box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 0.25);
}

.style-carousel-facility .style-nav button:hover {
    background-color: #179B34;
    color: white;
}

.style-plant-carousel .carousel-caption {
    left: 0;
    top: 0;
    height: 100px;
    font-size: 16px;
    font-weight: 400;
    color: #000;
    position: relative;
}

.style-plant-carousel .carousel-caption p {
    margin: 0;
}

.style-plant-carousel button {
    padding-top: 100px;
    color: #179B34;
    font-size: 30px !important;
}

.style-plant-carousel button:hover {
    color: #179B34;
}

/* End Facility =========== */

@media only screen and (max-width: 992px) {

    .style-carousel-facility .style-item {
        height: 400px;
    }

    .style-carousel-facility .style-item .style-carousel-item {
        width: 50%;
        height: 250px;
    }


    .style-carousel-facility .style-nav button {
        background-color: white;
        width: 50px;
        height: 50px;
        border-radius: 25px;
        border: 0;
        font-size: 25px;
        color: black;
        transition: all 0.3s linear;
        box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 0.25);
    }
}

@media only screen and (max-width: 576px) {
    #page-title h1 {
        font-size: 50px !important;
    }

    .style-carousel-facility .style-item {
        height: 300px;
    }

    .style-carousel-facility .style-item .style-carousel-item {
        width: 80%;
        height: 200px;
    }
}