body {
    overflow-x: hidden;
}
.page-title-dark {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: fill !important;
    height: 600px !important;
}
.text-layer {
    padding-left: 80px;
}

@media only screen and (max-width: 575px) {
    .title-layer-1 {
        text-transform: none; 
        font-size: 35px !important;
    }

    .title-layer-2 {
        text-transform: none; 
        font-size: 40px !important;
    }
}

.title-layer-1 {
    text-transform: none; 
    font-size: 75px;
}

.title-layer-2 {
    text-transform: none; 
    font-size: 80px;
    font-weight: 600;
}

.row-section-visi-misi {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
}

@media only screen and (max-width: 575px) {
    .text-visi-misi {
        font-size: 40px !important;
        text-align: center;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        flex-shrink: 0; 
        padding-top: 40px;
        padding-bottom: 10px;
    }
}

.text-visi-misi {
    color: #000;
    font-size: 80px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    width: 620px;
	flex-shrink: 0; 
    padding-left: 123px;
}

.value-section.text-center, .our-value-text {
    margin-bottom: 0px !important;
    color: #C0BEBE;
}

.image-container {
    position: relative;
    width: 100%;
    max-width: 100%; /* Ensure the container doesn't exceed the image width */
}

.text-overlay {
    max-width: 90%;
    width: 100%;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    transition-property: color;
    transition-duration: 0.3s;
    transition-delay: 0.1s;
}

.item-text-overlay-value {
    height: 100%; 
    display: flex; 
    justify-content: center; 
    align-items: end;
}

.card {
    border: none;
    box-shadow: 0px 4px 15px 0px rgba(241, 129, 64, 0.30);
    width: 100%; 
    height: 300px;
}

@media only screen and (min-width: 576px) {
    .parent-visi-misi {
        margin-right: 50px; 
        margin-left: -70px;
    }
}