.tabs-bb .tab-nav li.ui-tabs-active a {
    color: #000 !important;
}

.tab-nav.clearfix li a:not([class^="active"]) {
    color: #D9D9D9;
}

.tab-part-business ul li {
    margin-right: 20px !important;
}

.vector-background {
    background: url("../../images/vector/product-part-business/vector-2.png"), #3B3B3B;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

@media screen and (max-width: 576px) {
    .style-bg-dot::after {
        display: none !important;
    }
}

.style-bg-dot::after {
    content: '';
    position: absolute;
    /* top: 500px; */
    bottom: -20%;
    height: 80%;
    width: 100%;
    z-index: 0;
    background-image: url(../../images/vector/product-part-business/vector-1.png);
    background-repeat: no-repeat;
    background-position: right center;
}