.tabs-bb .tab-nav li.ui-tabs-active a {
    color: #000 !important;
}

.tab-nav.clearfix li a:not([class^="active"]) {
    color: #D9D9D9;
}

.tab-part-business ul li {
    margin-right: 20px !important;
}

.vector-background {
    background: url("../../images/vector/product-part-business/vector-2.png"), #3B3B3B;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

@media screen and (max-width: 576px) {
    .style-bg-dot::after {
        display: none !important;
    }
}

.style-bg-dot::after {
    content: '';
    position: absolute;
    /* top: 500px; */
    bottom: -20%;
    height: 80%;
    width: 100%;
    z-index: 0;
    background-image: url(../../images/vector/product-part-business/vector-1.png);
    background-repeat: no-repeat;
    background-position: right center;
}

.style-owl-banner-slider .style-banner-content.slide {
	opacity: 1;
    z-index: 111;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: end;
    bottom: 6vh;
    left: 6vw;
    right: 4vw;
}

/* first text */
.style-banner-content .first-text-slider-mold {
    color: #FFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.50);
    font-family: 'Montserrat', sans-serif;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

/* secind text */
.style-banner-content .second-text-slider-mold {
    color: #FFF;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.50);
    font-size: 60px;
    font-weight: bold;
    line-height: normal;
}

/* Modal ============ */
.style-modal .modal-dialog {
    max-width: 80vw !important;
}

.style-modal .modal-body::-webkit-scrollbar {
    width: 10px;
}

.style-modal .modal-body::-webkit-scrollbar-thumb {
    border-radius: 50px;
    background: #EE6D22;
    height: 50px;
}

.style-modal .modal-body::-webkit-scrollbar-track {
    background-color: #fff;
}

.style-modal .modal-content {
    border-radius: 20px;
}

.style-modal .modal-content .style-btn-close {
    border-radius: 20px;
    background-color: #3B3939;
    border: 0;
    padding: 0;
    line-height: 1;
    font-size: 28px;
    color: #fff;
    height: 30px;
    width: 30px;
}

.style-modal .modal-content .style-title {
    color: #000;
    font-weight: 600;
    font-size: 35px;
}

.style-modal .modal-content .style-title-content {
    color: #000;
    font-weight: 600;
    font-size: 25px;
}

.style-modal .modal-content .style-divider-content {
    height: 1px;
    width: 100%;
    background-color: #000;
    margin: 16px 0;
}

.style-modal .modal-content .style-list-content {
    color: #000;
    font-weight: 400;
    font-size: 15px;
    padding-left: 20px;
}

.style-modal .modal-content .style-nav-modal-vehicle .nav-link {
    background-color: #FFF;
    font-size: 20px;
    font-weight: 600;
    color: #D9D9D9;
    padding: 5px;
    margin: 0 24px;
    border: 0;
    border-bottom: 3px solid #FFF;
    transition: all 0.3s linear;
}

.style-modal .modal-content .style-nav-modal-vehicle .nav-link.active {
    color: #000;
    border-bottom: 3px solid #EE6D22;
}

.style-modal .modal-content .style-nav-modal-vehicle .nav-link i {
    vertical-align: text-top;
    font-size: 8px;
}

.style-carousel-modal .carousel-item,
.style-carousel-modal img {
    border-radius: 15px;
}

.style-carousel-modal .carousel-control-prev::before,
.style-carousel-modal .carousel-control-next::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: all 0.3s linear;
}

.style-carousel-modal.carousel-dark .carousel-control-prev::before {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.50) 0%, rgba(255, 255, 255, 0.00) 100%);
}

.style-carousel-modal.carousel-dark .carousel-control-next::before {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.00) 0%, rgba(0, 0, 0, 0.50) 100%);
}

.style-carousel-modal .carousel-control-prev::before {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    background: linear-gradient(90deg, rgba(225, 225, 225, 0.50) 0%, rgba(255, 255, 255, 0.00) 100%);
}

.style-carousel-modal .carousel-control-next::before {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.00) 0%, rgba(225, 225, 225, 0.50) 100%);
}

.style-carousel-modal .carousel-control-prev:hover:before,
.style-carousel-modal .carousel-control-next:hover:before {
    opacity: 1;
}

/* 360 */
.style-content-360 {
    background-image: url('../../images/product/product-360/background_360.jpg');
    background-repeat: no-repeat;
    position: relative;
    width: 70%;
    height: 400px;
    background-size: cover;
}

.style-content-360 .viewer {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    margin: auto;
}

.style-content-360 .viewer img {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 10px;
    width: 60%;
    opacity: 0;
}

.style-content-360 .viewer img.active {
    opacity: 1;
}

/* End Modal =========== */

@media only screen and (max-width: 576px) {
    .style-banner-content .first-text-slider-mold {
        font-size: 20px;
    }

    .style-banner-content .second-text-slider-mold {
        font-size: 26px;
    }

    .style-modal .modal-dialog {
        max-width: 95vw !important;
    }

    .style-modal .modal-content .style-nav-modal-vehicle .nav-link {
        font-size: 16px;
        margin: 0 8px;
    }

    .style-modal .modal-content .style-nav-modal-vehicle .nav-link i {
        font-size: 5px;
    }

    .style-content-360 {
        width: 100%;
        height: 300px;
    }

    .style-content-360 .viewer img {
        width: 100%;
    }
}