.tabs-bb .tab-nav li.ui-tabs-active a {
    color: #000 !important;
}

.tab-nav.clearfix li a:not([class^="active"]) {
    color: #D9D9D9;
}

.tab-part-business ul li {
    margin-right: 20px !important;
}

.vector-background {
    background: url("../../images/vector/product-part-business/vector-2.png"), #3B3B3B;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

@media (min-width: 1600px) {
    .style-bg-dot::after {
        content: '';
        position: absolute;
        right: -180px;
        top: 150px;
        height: 80%;
        width: 50%;
        z-index: 0;
        background-image: url(../../images/vector/product-part-business/vector-1.png);
        background-repeat: no-repeat;
        background-position: right center;
    }
}

@media screen and (max-width: 1599px) and (min-width: 1200px) {
    .style-bg-dot::after {
        content: '';
        position: absolute;
        right: -160px;
        top: 150px;
        height: 80%;
        width: 50%;
        z-index: 0;
        background-image: url(../../images/vector/product-part-business/vector-1.png);
        background-repeat: no-repeat;
        background-position: right center;
    }
}

@media screen and (max-width: 1199px) and (min-width: 992px) {
    .style-bg-dot::after {
        content: '';
        position: absolute;
        right: -30%;
        top: 150px;
        height: 80%;
        width: 50%;
        z-index: 0;
        background-image: url(../../images/vector/product-part-business/vector-1.png);
        background-repeat: no-repeat;
        background-position: right center;
    }
}

@media screen and (max-width: 991px) and (min-width: 768px) {
    .style-bg-dot::after {
        content: '';
        position: absolute;
        right: -25%;
        top: 500px;
        height: 80%;
        width: 50%;
        z-index: 0;
        background-image: url(../../images/vector/product-part-business/vector-1.png);
        background-repeat: no-repeat;
        background-position: right center;
    }
}